
.img2{
    width: 280px;
    height: 250px;
}
.img3{
    width: 150px;
    height: 120px;
}
.vewww{
    justify-content: center;
}
.moger{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    justify-content: center;
    gap: 15px;
    margin: 20px;
}