.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.Travelleftered{
    font-size: 15px;
}
.img{
    width: 600px;
    height: 400px;
}
.cent{
    width: 550px;
}
.imageanime{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 20px;
}
.myname{
    margin-top: 40px;
}
.instalogoes{
    opacity: .5;
    width: 120px;
    height: 30px;
    margin-top: 40px;
    background-size: cover;
  background-image:url('https://thumbs.dreamstime.com/z/instagram-facebook-youtube-twitter-popular-social-media-video-platform-internet-services-kyiv-ukraine-april-179628965.jpg');
  }
  .splitss{
    display: flex;
  }
  .homepageone{
    width: 850px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .splits{
    display: flex;
    flex-wrap: wrap;
  }
.getstart{
    /* margin: 10px; */
    color: rgb(8, 107, 8);
    margin-left: 10px;
    margin-right: 10px;
    /* border: 1px rgb(8, 107, 8) solid; */
}
.getstartbor{
    margin-right:10px ;
    border: 1px rgb(8, 107, 8) solid;
}
.booold{
    font-size: 35px;
}

.apper{
    margin-left: 40px;
    margin-top: 10px;
    font-size: 20px;
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.upro{
    transform: rotate(-90deg);
    margin-left: 40px;
}
.apperstricky{
    display: block;
    position: fixed;
    left: 180px;
    top: 200px;
    z-index: -3;
 
}
.sharesimble{
   opacity: .6;
   margin-right:10px ;
}
.imger{
    width: 250px;
    height: 200px;
    margin: 10px;
}
  @media only screen and (max-width:460px){
    .imger{
        width: 100px;
        height: 100px;
    }
    .apperstricky{
        display: none;
      
    }
    .sharesimble{
       opacity: .6;
       margin-right:10px ;
    }
    .booold{
        font-size: 25px;
    }
    .apper{
       
        margin-left: 0px;
        margin-top: 10px;
        font-size: 15px;
       display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
   
    .homepageone{
        width: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      .img{
        width: 300px;
        height: 250px;
    }
    .cent{
        width: 300px;
    }
}