.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 20px;
    margin-top: 80px;
   
}
.Travelleftered{
    font-size: 15px;
}
.img{
    width: 600px;
    height: 400px;
}
.cent{
    font-size: 20px;
    width: 550px;
}
.imageanime{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 20px;
}
.optas{
    opacity: .5;
    position: absolute;
    z-index: -1;
  
}
.myname{
    margin-top: 40px;
}
.heeeee{
    font-size: 50px;
}
.instalogoes{
    opacity: .5;
    width: 120px;
    height: 30px;
    margin-top: 40px;
    background-size: cover;
    z-index: -1;
  /* background-image:url('https://thumbs.dreamstime.com/z/instagram-facebook-youtube-twitter-popular-social-media-video-platform-internet-services-kyiv-ukraine-april-179628965.jpg'); */
  }
  .splitss{
    display: flex;
  }
  .homepageone{
    width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .splits{
    display: flex;
    flex-wrap: wrap;
  }
.getstart{
    /* margin: 10px; */
    color: rgb(8, 107, 8);
    margin-left: 10px;
    margin-right: 10px;
    /* border: 1px rgb(8, 107, 8) solid; */
}
.getstartbor{
    margin-right:10px ;
    border: 1px rgb(8, 107, 8) solid;
    background-color: white;
}
.booold{
    font-size: 35px;
}

.apper{
    margin-left: 40px;
    margin-top: 10px;
    font-size: 20px;
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.apperen{
    margin-left: 40px;
    margin-top: 10px;
    font-size: 20px;
   display: flex;
    flex-wrap: wrap;
    text-align: left;
}
.upro{
    transform: rotate(-90deg);
    margin-left: 40px;
    
}
.apperstricky{
   
display: flex;

flex-direction: column;
    position: fixed;
    left: 7%;
    top: 250px;
   
    z-index: -3;
 
}
.apperstrickyER {
    /* background-color: ; */
    display: flex;
    flex-direction: column;
        position: fixed;
        left: 8%;
        top: 310px;
        height: 30px;
        width: 100px;
        /* z-index: -2;  */
     
    }
.sharesimble{
   opacity: .6;
   margin-right:10px ;
}
.imger{
    width: 250px;
    height: 200px;
    
}
.Footer{
    margin-top: 10px;
    background-color: rgb(49, 34, 34);
    height: 200px;
   display: flex;
   color: white;
  

}
.centerer{
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 50px;
    text-align: center;
}
@media only screen and (max-width:1000px){
    .centerer{
        font-size: 20px;
        font-style: italic;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 50px;
        text-align: center;
    }
     
    .apperstricky{
    
        display: none;
      
    } 
    .apperstrickyER{
    
        display: none;
      
    } 
    
}
@media only screen and (max-width:1280px){
  
 
    /* .apperstricky{
           display: block;
    position: relative;
    left: 180px;
    top: 200px;
    z-index: -3;
        display: none;
      
    }  */
    
}
@media only screen and (max-width:770px){
   
    .img{
        width: 300px;
        height: 250px;
    }
    .cent{
        font-size: 15px;
        width: 300px;
    }
    .homepageone{
        width: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      .imger{
        width: 100px;
        height: 100px;
    }
   
}
  @media only screen and (max-width:460px){
    .centerer{
        font-size: 15px;
        font-style: italic;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 50px;
        text-align: center;
    }
    
    .imger{
        width: 100px;
        height: 100px;
    }
    .apperstricky{
        display: none;
      
    }
    .apperstrickyER{
        display: none;
      
    }
    .sharesimble{
       opacity: .6;
       margin-right:10px ;
    }
    .booold{
        font-size: 25px;
    }
    
    .apper{
       
        margin-left: 0px;
        margin-top: 10px;
        font-size: 15px;
       display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
   
    .homepageone{
        width: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      .img{
        width: 300px;
        height: 250px;
    }
    .cent{
        width: 300px;
        font-size: 15px;
        
    }
}