
.img2{
    width: 280px;
    height: 250px;
}
.img3{
    width: 150px;
    height: 120px;
}
.Advertisement{
    border: 3px black solid;
    height: 500px;
    width: 300px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.adverrrr{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width:460px){
.Top{
    display: none;
}
}