.nav{
 
    display: flex;
    justify-content: space-around;
    font-size: larger;
    text-decoration : none;  
    box-shadow: inset;
    
}
.toppppshead{
    margin-top: 100px;
    /* text-decoration: line-through; */
    text-shadow: 2px 2px 4px #1e07ed;
    margin-left: 0px;
    border-bottom: 2px rgb(200, 23, 4) solid;
    width: fit-content ;
}
.posstr{
  box-sizing: border-box;
   background-color:white;
    text-align: center;
   
    /* background-color: blue; */
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;

}

@media only screen and (max-width:460px){
  
}
@media only screen and (max-width:460px){

     
     }
