
  .handclap{
    margin-right: 10px;
    width: 40px;
  height: 40px;
    background-size: cover;
  background-image:url(./rythm.png);
  }
  .handclaper{
    margin-right: 10px;
    width: 40px;
  height: 40px;
    background-size: cover;
  background-image:url(./rythm.png);
  }
 
  @media only screen and (max-width:1000px){
    .newapp{
      display: flex;
      flex-direction: row-reverse;
    }
  }
  
  @media only screen and (max-width:460px){
  
 
      .reactjsanimation{
        width: 350px;
      height: 200px;
        background-size: cover;
        background-image:url(./Screenshot\ 2020-08-10\ at\ 4.28.04\ PM@2x.png);
      }
 
      .boyimgdown{
        width:  70px;
        height: 70px;
      
      margin-right: 30px;
      margin-bottom: 30px;
        background-size: cover;
         background-image:url(./Mask\ Group\ 21@2x.png);
      }
       
  }